  
<section class="row">
  <article class="column corp_logo_list">
    <h2>Corporations</h2>
    <%= for corp <- @corps do %>
      <a href="#">
        <div>
          <img src="<%= corp.logo %>" alt="<%= corp.name %>" />
          <p class="corp-name"><%= String.slice(corp.name, 0..25) %></p>
        </div>
      </a>
    <% end %>
  </article>
</section>
