<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>Etsala · Phoenix Framework</title>
    <link rel="stylesheet" href="<%= Routes.static_path(@conn, "/css/app.css") %>"/>
  </head>
  <body>
    <header>
      <section class="container">
        <nav role="navigation">
          <ul>
          <%= if assigns.character_id != nil do %>
            <li><%= assigns.character_name %></li>
            <li><img src="<%= assigns.character_portrait %>" /></li>
            <li><a href="/logout">LOGOUT</a> </li>
          <% else %>
                <li><a href="<%= assigns.login_url %>">
                  <img src="<%= Routes.static_path(@conn, "/images/eve-sso-login-white-small.png") %>" alt="EVE SSO Login"/>
                </a></li>
          <% end %>
          </ul>
        </nav>
        <a href="/" class="phx-logo">
          <img src="<%= Routes.static_path(@conn, "/images/etsala_logo.png") %>" alt="Etsala Legion Logo"/>
        </a>
        <h1>ETSALA LEGION</h1>
      </section>
    </header>
    <main role="main" class="container">
      <p class="alert alert-info" role="alert"><%= get_flash(@conn, :info) %></p>
      <p class="alert alert-danger" role="alert"><%= get_flash(@conn, :error) %></p>
      <%= render @view_module, @view_template, assigns %>
    </main>
    <script type="text/javascript" src="<%= Routes.static_path(@conn, "/js/app.js") %>"></script>
  </body>
</html>
