<!DOCTYPE html>
<html lang="en">
  <head>
    <%= csrf_meta_tag() %>
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <meta name="google-site-verification" content="hzQFGU9qtLS9S9dj-UmiNqD66P5283BhK7Hp8MAeTF0" />
    <title>Etsala Legion - an Eve Online alliance</title>
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Abril+Fatface&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Oswald&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="<%= Routes.static_path(@conn, "/css/dark.css") %>"/>
    <link rel="apple-touch-icon" sizes="57x57" href="<%= Routes.static_path(@conn, "/images/icons/apple-icon-57x57.png") %>">
    <link rel="apple-touch-icon" sizes="60x60" href="<%= Routes.static_path(@conn, "/images/icons/apple-icon-60x60.png") %>">
    <link rel="apple-touch-icon" sizes="72x72" href="<%= Routes.static_path(@conn, "/images/icons/apple-icon-72x72.png") %>">
    <link rel="apple-touch-icon" sizes="76x76" href="<%= Routes.static_path(@conn, "/images/icons/apple-icon-76x76.png") %>">
    <link rel="apple-touch-icon" sizes="114x114" href="<%= Routes.static_path(@conn, "/images/icons/apple-icon-114x114.png") %>">
    <link rel="apple-touch-icon" sizes="120x120" href="<%= Routes.static_path(@conn, "/images/icons/apple-icon-120x120.png") %>">
    <link rel="apple-touch-icon" sizes="144x144" href="<%= Routes.static_path(@conn, "/images/icons/apple-icon-144x144.png") %>">
    <link rel="apple-touch-icon" sizes="152x152" href="<%= Routes.static_path(@conn, "/images/icons/apple-icon-152x152.png") %>">
    <link rel="apple-touch-icon" sizes="180x180" href="<%= Routes.static_path(@conn, "/images/icons/apple-icon-180x180.png") %>">
    <link rel="icon" type="image/png" sizes="192x192"  href="<%= Routes.static_path(@conn, "/images/icons/android-icon-192x192.png") %>">
    <link rel="icon" type="image/png" sizes="32x32" href="<%= Routes.static_path(@conn, "/images/icons/favicon-32x32.png") %>">
    <link rel="icon" type="image/png" sizes="96x96" href="<%= Routes.static_path(@conn, "/images/icons/favicon-96x96.png") %>">
    <link rel="icon" type="image/png" sizes="16x16" href="<%= Routes.static_path(@conn, "/images/icons/favicon-16x16.png") %>">
    <link rel="manifest" href="<%= Routes.static_path(@conn, "/images/icons/manifest.json") %>">
    <meta name="msapplication-TileColor" content="#ffffff">
    <meta name="msapplication-TileImage" content="<%= Routes.static_path(@conn, "/images/icons/ms-icon-144x144.png") %>">
    <meta name="theme-color" content="#ffffff">
  </head>
  <body>
    <header>
      <section class="container">
        <nav role="navigation">
          <ul>
            <%= if assigns.character_id != nil do %>
              <li><%= assigns.character_name %></li>
              <li><img alt="character portrait" src="<%= assigns.character_portrait %>" /></li>
              <li><a href="/logout">LOGOUT</a> </li>
            <% else %>
              <li><a href="<%= assigns.login_url %>">
                  <img src="<%= Routes.static_path(@conn, "/images/eve-sso-login-white-small.png") %>" alt="EVE SSO Login"/>
              </a></li>
          <% end %>
        </ul>
      </nav>
      <a href="/" class="etsala-logo">
        <img src="<%= Routes.static_path(@conn, "/images/etsala_logo.png") %>" alt="Etsala Legion Logo"/>
      </a>
      <span class="header-text">Etsala Legion</span>
    </section>
  </header>
  <main role="main" class="container">
    <p class="alert alert-info" role="alert"><%= get_flash(@conn, :info) %></p>
    <p class="alert alert-danger" role="alert"><%= get_flash(@conn, :error) %></p>
    <%= @inner_content %>
  </main>
  <footer>
    <ul>
      <li><a href="/about">About</a></li>
      <li><a href="/changelog">Changelog</a></li>
      <li><%= link "Item List", to: Routes.type_path(@conn, :types) %></li>
    </ul>
  </footer>
  <%= csrf_meta_tag() %>
  <script type="text/javascript" src="<%= Routes.static_path(@conn, "/js/app.js") %>"></script>
</body>
</html>
