
<section class="row">
  <article class="column">
    <h2>Recruitment</h2>
    Please write a ingame message to <a href="https://evewho.com/character/938559843">Tyler Norted</a> or <a href="https://evewho.com/character/289045517">Nikodiemus</a>.
  </article>
</section>
