<section class="row">
  <article class="column">
    <span class="help-text">If you've ever wondered what to mine first in the moon belts, here's the answer. All the ores are sorted by the selling prices of the reprocessed materials.</span>
  </article>
</section>
<section class="row">
  <article class="column">
    <h2>Calendar</h2>
  </article>
</section>
<%= live_render(@conn, EtsalaWeb.CalendarLive) %>
