/* This file is for your main application css. */

@import './phoenix.css';

html {
  background-color: #f7f7f7;
  color: #333;
}

body {
  margin: 0;
  position: relative;
  min-height: 100vh;
  padding-bottom: 10rem;
}

span, a, p, li, h1, h2, h3, h4, table, button, label, select {
  font-family: 'Oswald', sans-serif;
  color: #333;
}

span, p, li, table {
  font-size: 2.2rem;
}

h1 {
  font-size: 5.5rem;
  margin: 3rem 0;
}

h2 {
  font-size: 4rem;
}

h3 {
  font-size: 3rem;
}

ul {
  list-style-type: square;
}

li {
  margin-left: 1rem
}

.phx-hero {
  text-align: center;
  border-bottom: 1px solid #e3e3e3;
  background: #eee;
  border-radius: 6px;
  padding: 1em;
  margin-bottom: 3rem;
  font-weight: 200;
  font-size: 120%;
}

.etsala-logo {
  width: 7vmax;
}

.container {
  max-width: 150rem;
}

header {
  margin-top: 1em;
}

.header-text {
  font-family: 'Abril Fatface';
  font-weight: bold;
  font-size: 4vmax;
  letter-spacing: 0.3rem;
}

footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 10rem;
  text-align: center;
  padding-top: 3.5rem;
}

footer li {
  display: inline;
}

.menu {
  margin-top: 3rem;
  text-align: center;
}

.menu ul {
  list-style: none;
}

.table-buttons {
  float: right;
}

td, th {
  padding: 1rem 1.5rem;
}

th>.nowrap, td>.nowrap {
  white-space: nowrap;
}

td:first-child, th:first-child {
  padding-left: 0.8rem;
}

option, optgroup { 
  -webkit-appearance: none; 
}

.type_infos {
  margin-bottom: 2rem;
}

.help-text {
  background-color: rgba(153,204,204,0.5);
  padding: 10px;
  border-radius: 3px;
  display: block;
  font-size: 2rem;
  font-weight: bold;
  margin-bottom: 2rem;
}

.help-text::before {
  content: "ⓘ ";
  color: #993333;
  font-weight: bold;
}

.corp_logo_list {
  margin-top: 2rem;
  text-align: center;
}

.corp_logo_list div {
  float: left;
  min-width: 15.5rem;
  padding-top: 1rem;
}

.corp_logo_list img:hover {
  border-radius: 10px;
  box-shadow: 0 0 15px lightgray;
}

.changelog {
  margin-top: 3em
}

.changelog li {
  line-height: 1.1em;
}

.recruitment-corp-list .corp-img {
  float: right;
  margin: 10px;
  border-radius: 10px;
  box-shadow: 5px 5px 15px lightgray;
}

.corp-name {
  font-size: 1.6rem;
}

.filter {
  text-align: right;
}

.filter select {
  display: inline;
}

.filter label {
  margin-right: 1rem;
  display: inline;
}

.alliance_row {
  display: flex;
  justify-content: center;
}

.alliance_container {
  width: 45vmax;
  text-align: justify;
}

.alliance_container h1 {
  text-align: center;
  font-size: 4em;
}

.alliance_container p, .alliance_container li {
  font-size: 2em;
}