/* This file is for your main application css. */

@import './phoenix.css';

html {
  background-color: #f7f7f7;
  color: #333;
}

.header-text {
  font-size: 3.5rem;
}

.table-buttons {
  float: right;
}

td, th {
  padding: 1rem 1.5rem;
}

th>.nowrap, td>.nowrap{
  white-space: nowrap;
}

tr.own-order{
  background-color: rgba(124,178,119,0.5);
}

span.own-order{
  background-color: rgba(124,178,119,0.5);
  padding: 1em;
}

td:first-child, th:first-child {
  padding-left: 0.8rem;
}

.help-text {
  background-color: rgba(153,204,204,0.5);
  padding: 10px;
  border-radius: 3px;
  display: block;
}

.help-text::before {
  content: "ⓘ ";
  color: #993333;
  font-weight: bold;
}

.whats-new {
  margin-top: 3em
}

.whats-new li {
  margin: 0px;
  line-height: 1.1em
}



.recruitment-corp-list .corp-img {
  float: right;
  margin: 10px;
  border-radius: 10px;
  box-shadow: 5px 5px 15px lightgray;
}