/* This file is for your main application css. */

@import './phoenix.css';

.table-buttons {
  float: right;
}

td, th {
  padding: 1rem 1.5rem;
}

th>.nowrap, td>.nowrap{
  white-space: nowrap;
}

tr.own-order{
  background-color: rgba(124,178,119,0.5);
}

td:first-child, th:first-child {
  padding-left: 0.8rem;
}