html {
  background: url("/images/background_4.jpeg") no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

span,
p,
li,
h1,
h2,
h3,
h4,
table,
input,
label,
select,
option {
  color: white;
}

select,
option {
  background-color: #151515;
}

.button {
  background-color: #e4b57b;
  border: 0;
  color: #181818;
  font-size: 1.5rem;
  border-color: #e4b57b;
}

.active {
  background-color: #606c76;
  border-color: #606c76;
  color: #fff;
  outline: 0;
}

td,
th {
  border-color: #181818;
}

a {
  color: #e4b57b;
}

header {
  border-bottom: none;
}

.phx-hero {
  text-align: center;
  background: #151515;
  border-bottom: 1px solid #151515;
  border-radius: 6px;
  padding: 1em;
  margin-bottom: 3rem;
  font-weight: 200;
  font-size: 120%;
  opacity: 0.75;
}

tr.own-order {
  background-color: rgba(82, 122, 145, 0.5);
}

.help-text {
  background-color: #462528;
}

.corp_logo_list img:hover {
  box-shadow: -3px -3px 15px black;
}

.help-text::before {
  color: white;
}

.recruitment-corp-list .corp-img {
  box-shadow: 5px 5px 15px black;
}

span.eve-time {
  font-size: 3rem;
  margin-left: 2.5rem;
  border: 5px solid #e4b57b;
  padding: 0.5rem 1.5rem;
  border-radius: 0.5rem;
  letter-spacing: 1px;
}

tr.popped {
  background-color: rgba(82, 122, 145, 0.5);
}

tr.auto-fracture {
  background-color: rgba(82, 122, 145, 0.25);
}
