<h2>Station Market</h2>
<h3 style="float: left"><%= @structure.name %></h3>
<div style="float: right; margin-left: 2rem"><%= link "What to sell?", to: Routes.market_path(@conn, :structure_optimizer, @structure.id), class: "button table-buttons" %></div>
<%= live_render(@conn, EtsalaWeb.StructureOrdersLive, session: %{"structure" => @structure}) %>
